<%- include('./layouts/header') %>

    <div class="container mt-3">
        <h4 class="text-dark">Hello, <span class="text-dark fw-bold"><%= person.name %></span></h4>
        <div class="row g-3">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-center">
                    <img src="/img/filipino1.jpg" alt="Filipino" class="card-img-top" />
                    <h5 class="card-header text-success fw-bold">Filipino</h5>
                    <div class="card-body">
                        <p class="card-text text-dark">Layunin na malinang at mapaunlad ang kakayahan sa pakikinig, pagsasalita, pagbasa, pagsulat, malikhaing pag-iisip, at pakikipagtalastasan sa wikang Filipino.</p>
                        <a href="/user/dashboard/filipino" class="btn btn-primary">Lessons</a>
                        <% if (user.role === 'ACADEME') { %>
                            <a href="#" class="btn btn-primary">Give lesson</a>
                            <% } %>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-center">
                    <img src="/img/english.jpg" alt="English" class="card-img-top" />
                    <h5 class="card-header text-success fw-bold">English</h5>
                    <div class="card-body">
                        <p class="card-text">Designed and created to provide preschoolers the basic knowledge about the fundamental concepts in studying the English subject and to help them apply aid concepts in facing real-life challenges.</p>
                        <a href="/user/dashboard/english" class="btn btn-primary">Lessons</a>
                        <% if (user.role === 'ACADEME') { %>
                            <a href="#" class="btn btn-primary">Give lesson</a>
                            <% } %>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-center">
                    <img src="/img/math.jpg" alt="Math" class="card-img-top" />
                    <h5 class="card-header text-success fw-bold">Math</h5>
                    <div class="card-body">
                        <p class="card-text">Designed and created to provide preschoolers the basic knowledge about the fundamental concepts in studying the Math subject and to help the apply said concepts in facing real-life challenges.</p>
                        <a href="/user/dashboard/math" class="btn btn-primary">Lessons</a>
                        <% if (user.role === 'ACADEME') { %>
                            <a href="#" class="btn btn-primary">Give lesson</a>
                            <% } %>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-center">
                    <img src="/img/reading_phonics1.jpg" alt="Reading and Phonics" class="card-img-top" />
                    <h5 class="card-header text-success fw-bold">Reading and Phonics</h5>
                    <div class="card-body">
                        <p class="card-text">Designed to develop the pupils’ skill and ability to read and recognize each letter of the alphabet. It uses a systematic alphabet recognition and phonemic awareness approach wherein lessons are presented through colorful and motivating
                            illustrations and the repetitive task of learning how to read and produce the sound of each letter of the alphabet.</p>
                        <a href="/user/dashboard/readingAndPhonics" class="btn btn-primary">Lessons</a>
                        <% if (user.role === 'ACADEME') { %>
                            <a href="#" class="btn btn-primary">Give lesson</a>
                            <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('./layouts/footer') %>