<%- include('./layouts/header') %>

    <div class="text-center">
        <img src="/img/logo.png" class="rounded img-fluid" alt="school" />
        <h1 class="title text-success mt-lg-3 fw-bolder">Mary JV's School LMS</h1>
    </div>

    <%- include('./layouts/footer') %>