<%- include('./layouts/header') %>

    <body class="login_page">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-8 rounded p-1 shadow my-lg-3">
                    <div class="mb-0">
                        <div class="row g-0">
                            <div class="col-md-6">
                                <a href="/"><img src="/img/logo.png" class="img-fluid rounded-circle h-75 w-75h mx-auto d-block mb-0 mt-md-5" alt="logo" /></a>
                                <h5 class="card-title text-center text-success fw-bolder mt-lg-3">Mary JV's School</h5>
                            </div>
                            <div class="col-md-6">
                                <div class="card-body mt-lg-1 mt-0">
                                    <!-- login form -->
                                    <form action="/auth/login" method="post" class="mt-lg-5 mt-md-5 mt-sm-5 mt-0 mx-auto p-5">
                                        <div class="form-floating mb-3 text-success fw-bold mt-lg-5 mt-md-5 g-0">
                                            <input type="text" class="form-control" id="floatingUsername" placeholder="User ID" name="username" required />
                                            <label for="floatingUsername">User ID</label>
                                        </div>
                                        <div class="form-floating mb-3 text-success fw-bold">
                                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" required />
                                            <label for="floatingPassword">Password</label>
                                        </div>
                                        <div class="d-grid gap-2 col-8 mx-auto">
                                            <input type="submit" value="Login" class="btn btn-lg btn-success mt-lg-4 mt-4" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <%- include('./layouts/footer') %>