<%- include('./layouts/header') %>

    <div class="container">
        <div class="text-center d-flex justify-content-start text-dark text-opacity-75">
            <h1><span class="goback" onclick="window.history.back()">← Go back</span></h1>
        </div>
        <div class="col-lg-12 mx-auto my-5">
            <div class="card text-bg-success my-5">
                <div class="card-header text-center text-lg-center fw-semibold bg-transparent fs-1 font-monospace">Math</div>
                <div class="card-body">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">UNIT 1</button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="list-group list-group-flush">
                                        <a href="#" class="list-group-item list-group-item-action ms-auto">Lesson</a>
                                        <a href="#" class="list-group-item list-group-item-action">Activity</a>
                                        <a href="#" class="list-group-item list-group-item-action">Quiz</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">UNIT 2</button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="list-group list-group-flush">
                                        <a href="#" class="list-group-item list-group-item-action ms-auto">Lesson</a>
                                        <a href="#" class="list-group-item list-group-item-action">Activity</a>
                                        <a href="#" class="list-group-item list-group-item-action">Quiz</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">UNIT 3</button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="list-group list-group-flush">
                                        <a href="#" class="list-group-item list-group-item-action">Lesson</a>
                                        <a href="#" class="list-group-item list-group-item-action">Activity</a>
                                        <a href="#" class="list-group-item list-group-item-action">Quiz</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">UNIT 4</button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="list-group list-group-flush">
                                        <a href="#" class="list-group-item list-group-item-action">Lesson</a>
                                        <a href="#" class="list-group-item list-group-item-action">Activity</a>
                                        <a href="#" class="list-group-item list-group-item-action">Quiz</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('./layouts/footer') %>